version: "3"

networks:
  frontend:
    driver: bridge
  reverse-proxy-backend:
    external: true

services:
  reverse-proxy:
    container_name: reverse-proxy
    image: reverse-proxy
    networks:
      frontend:
      reverse-proxy-backend:
        ipv4_address: ${BACKEND_IP_ADDRESS}
    ports:
      - 443:443/tcp
    environment:
      TZ: ${TZ}
    restart: unless-stopped
