server {
  listen 443 ssl;
  server_name a.network.home;

  ssl_certificate /etc/nginx/certs/a.network.home.crt;
  ssl_certificate_key /etc/nginx/private/a.network.home.key;

  ssl_protocols TLSv1.3;
  #ssl_session_cache off;
  #ssl_ciphers EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH;
  #ssl_prefer_server_ciphers on;

  location / {
    proxy_set_header Host $host;
    proxy_pass https://a:443;
    proxy_ssl_protocols TLSv1.3;
    proxy_redirect off;
    proxy_cache_bypass $http_upgrade;
  }
}
server {
  listen 443 ssl;
  server_name b.network.home;

  ssl_certificate /etc/nginx/certs/b.network.home.crt;
  ssl_certificate_key /etc/nginx/private/b.network.home.key;

  ssl_protocols TLSv1.3;
  #ssl_session_cache off;
  #ssl_ciphers EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH;
  #ssl_prefer_server_ciphers on;

  location / {
    proxy_set_header Host $host;
    proxy_pass https://b:443;
    proxy_ssl_protocols TLSv1.3;
    proxy_redirect off;
    proxy_cache_bypass $http_upgrade;
  }
}
